**Problem 1: Controls**

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx). (hint: This will help you decide how to load the data into the database)

In [21]:
archivogermplasm = open('Germplasm.tsv','r')
archivolocusgene = open('LocusGene.tsv','r')


def listalocus(archivo):
    agilc_list = []
    contador = 0
    for line in archivo:
        line = line.rsplit('\t')
        if contador == 0: 
            contador +=1
            continue
        else: 
            agilcg = line[0]
            agilc_list.append(agilcg)
    lista = agilc_list
    return(print(lista))

listalocus(archivogermplasm)
listalocus(archivolocusgene)

if(set(archivogermplasm) == set(archivolocusgene)):
    print("lists are equal")
else:
    print("lists are not equal")

archivogermplasm.close()
archivolocusgene.close()

['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']
['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']
lists are equal

In [46]:
import csv

germplasmfile = open('Germplasm.tsv', "r") 
reader = csv.DictReader(germplasmfile, delimiter = "\t", quotechar = '"') 
#for rowgerm in reader:
    #print(rowgerm["Locus"])

        
locusgenefile = open('LocusGene.tsv', "r")
reader2 = csv.DictReader(locusgenefile, delimiter = "\t", quotechar = '"') 
#for rowlocus in reader2:
    #print(rowlocus["Locus"]) 
 
contador2 = 0

for rowgerm in reader:
    for rowlocus in reader2:
        if rowgerm["Locus"] == rowlocus["Locus"]:
            print("elements are equal")
            contador2 += 1
        elif element != element2: 
            print("elements of line" + str(contador2) + " " + "are not equal")
            contador2 += 1

elements are equal

***Problem 2: Design and create the database.***

- It should have two tables - one for each of the two data files.
- The two tables should be linked in a 1:1 relationship 
- you may use either sqlMagic or pymysql to build the database

In [33]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [23]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [40]:
%sql create database exam2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
(pymysql.err.ProgrammingError) (1007, "Can't create database 'exam2'; database exists")
[SQL: create database exam2;]
(Background on this error at: http://sqlalche.me/e/f405)

In [35]:
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('exam2',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [36]:
%sql use exam2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [38]:
%sql CREATE TABLE germplasm1(Locus VARCHAR(15) NOT NULL PRIMARY KEY, germplasm VARCHAR(30) NOT NULL, phenotype VARCHAR(400) NOT NULL, pubmed INTEGER NOT NULL);
%sql DESCRIBE germplasm1;
#%sql DROP TABLE germplasm1;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('Locus', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(30)', 'NO', '', None, ''),
 ('phenotype', 'varchar(400)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [49]:
%sql CREATE TABLE locusgene(Locus VARCHAR(15) NOT NULL PRIMARY KEY, Gene VARCHAR(5) NOT NULL, ProteinLength INTEGER NOT NULL);
%sql DESCRIBE locusgene
#%sql DROP TABLE locusgene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('Gene', 'varchar(5)', 'NO', '', None, ''),
 ('ProteinLength', 'int(11)', 'NO', '', None, '')]

In [48]:
%sql SELECT * FROM germplasm1, locusgene WHERE \
     germplasm1.Locus = locusgene.Locus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

***Problem 3: Fill the database***

Using pymysql, create a Python script that reads the data from these files, and fills the database. There are a variety of strategies to accomplish this. I will give all strategies equal credit - do whichever one you are most confident with.

In [51]:
import pymysql.cursors
import csv

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

archivogermplasm = open('Germplasm.tsv','r')
archivolocusgene = open('LocusGene.tsv','r')
archivogermplasm.seek(0)
archivolocusgene.seek(0)
archivogermplasm.readline()
archivolocusgene.readline()

try:
    with connection.cursor() as cursor:
        for line in archivogermplasm: 
            sql = """INSERT INTO germplasm1 (Locus, germplasm, phenotype, pubmed) VALUES ('{}', '{}', '{}', '{}');""".format(rowgerm["Locus"], rowgerm["germplasm"], rowgerm["phenotype"], rowgerm["pubmed"])
            cursor.execute(sql)
      
        for line in archivolocusgene:
            sql = """INSERT INTO locusgene (Locus, Gene, ProteinLength) VALUES ('{}', '{}', '{}');""".format(rowlocus["Locus"], rowlocus["Gene"], rowlocus["ProteinLength"] )
            cursor.execute(sql)
            
            connection.commit()
        
finally:
    connection.close()
    archivogermplasm.close()
    archivolocusgene.close()

IntegrityError: (1062, "Duplicate entry 'AT5G13290' for key 'PRIMARY'")

In [50]:
%sql SELECT * FROM germplasm1;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]